<!-- app/views/collections/_recent_activity.html.erb -->
<% if recent_events.any? %>
  <div class="recent-activity mt-5">
    <h2 class="mb-4">Recent Activity</h2>
      <% recent_events.each do |event| %>
        <%= render "event", event: event %>
      <% end %>
  </div>
  <% else %>
  <div class="recent-activity mt-5">
    <h2 class="mb-4">Recent Activity</h2>
    <p>No recent activity</p>
  </div>
<% end %>
