
  <!-- app/views/collections/_index.html.erb -->

  <!-- Page Title -->
  <div class="collections-header">
  <h1><%= "#{current_user.first_name}'s Collections" %></h1>
  </div>

  <!-- Collection Cards + Recent Activity Container -->
  <div class="container">
  <div class="row justify-content-center">
  <div class="col-md-12">


  <!-- Modal Section -->
  <div class="container">
    <div class="row">

  <!-- New and Existing Collection Cards -->
  <div class="collections-grid">
    <%= render 'create_new_collection' %>
    <%= render 'existing_collections', collections: @collections %>
  </div>

  <!-- Recent Activity -->
  <%= render 'recent_activity' %>

  </div>
  </div>
  </div>
