
  <!-- Page Title -->
  <div class="dashboard-title"> <h1 class="text-center">
  <%= "#{current_user.first_name}'s Collections" %></h1>
  </div>

  <%# <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><i class="fa-solid fa-plus"></i></button> %>

<div class="container">
  <div class="row">

  <!-- Create New Collection Card -->
  <%= render 'create_new_collection' %>

  <!-- View My Existings Collections Card -->
  <%= render 'my_existing_collections' %>
  </div>

  <!-- Recent Activity -->
  <%= render 'recent_activity' %>

</div>
