<!-- app/views/collections/_show.html.erb -->
<div class="main-container">
  <!-- Header section -->
  <%= render 'shared/show/header', collection: @collection, collections: @collections %>

      <!-- Content area  -->
      <div class="content-area">

      <!-- Left column - Property cards -->
      <div class="left-column">
      <div class="properties-list-left">
      <% @properties.each do |property| %>
      <%= render 'shared/show/propertycard', collection: @collection, properties: @properties, property: property, comment: @comment %>
      <% end %>
      </div>
      </div>

      <!-- Right column - Details -->
      <div class="right-column">
      <%= render 'shared/show/rightcolumn' %>
      </div>

      <!-- Map controls -->
  </div>
</div>
