// app/assets/stylesheets/config/_colors.scss

// Basic colors
$white: #FFFFFF;
$gray: #F4F4F4;
$light-gray: #F8F9FA;
$dark-gray: #666666;
$black: #333333;
$blue: #6299C8;
$green: #4DB06A;

// Your brand colors
$primary-color: #F2994A;
$background-color: #e3e4e8;
$text-color: #333333;
$light-text: #666666;
$border-color: #E0E0E0;

// Box shadow
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

// Additional functional colors
$success: #4DB06A;
$warning: #F2994A;
$danger: #E06666;
$info: #6299C8;
