html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  //background-color: #FAF9F4;
}



.content {
  flex: 1;
}
