// app/assets/stylesheets/config/_variables.scss //

$primary-color: #F2994A;
$background-color: #e3e4e8;
$text-color: #333333;
$light-text: #666666;
$white: #FFFFFF;
$border-color: #E0E0E0;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
