<div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <h2>Create your CasaLink today</h2>
          <p>Start organizing your property search now.</p>
          <%#><p>No credit card required. Free for personal use.</p><%>
          <div class="cta-buttons">
            <a href="#" class="btn btn-primary btn-large">Begin</a>
            <a href="#" class="btn btn-outline btn-large">Sign up</a>
          </div>
        </div>
      </div>
    </div>
