<div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <h2><%= t('tutorial.create_1')%></h2>
          <p><%= t('tutorial.start_1')%></p>
          <%#><p>No credit card required. Free for personal use.</p><%>
          <div class="cta-buttons">
            <a href="/collections" class="btn btn-primary btn-large">Begin</a>
            <a href="/users/sign_up" class="btn btn-outline btn-large">Sign up</a>
          </div>
        </div>
      </div>
    </div>
