<section class="hero">
  <div class="decorative-circle circle-top-left"></div>
  <div class="decorative-circle circle-top-right"></div>
  <div class="decorative-circle circle-bottom-right"></div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hero-content">
          <div class="logo-large">
            <div class="logo-icon">
              <%= image_tag "house-solid.png", alt: "CasaLink house icon", style: "width: 80%; height: auto;"  %>
            </div>
            <h1>CasaLink</h1>
          </div>
          <div class="hero-text">
            <h3>All Your Housing Options, One Organized Place.</h4>
          </div>
          <div class="hero-cta">
            <a href="/collections" class="btn btn-primary btn-large">Begin</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
