<div class="main-container">

  <!-- Hero Section -->
  <%= render 'shared/hero_landing' %>

  <!-- Features Section -->
  <%= render 'shared/features_landing' %>

  <!-- Call to Action Section -->
  <section class="cta-section">
    <%= render 'shared/cta_landing' %>
  </section>
</div>
