<%= render 'shared/landing/background_slider' %>


<div class="main-container-landing">

  <!-- Hero Section -->
  <%= render 'shared/landing/hero' %>

  <!-- Features Section -->
  <%= render 'shared/landing/features' %>

  <!-- Call to Action Section -->
  <section class="cta-section">
    <%= render 'shared/landing/cta' %>
  </section>
</div>
