.hero {
  position: relative;
  overflow: hidden;
  background-color: #FAF9F4;

  .line {
    position: absolute;
    height: 2px;
    background-color: #ea8825;
    animation: none; 
  }

  .top-line {
    top: 0;
    left: 0;
    width: 100%; /* Full width from the start */
  }

  .bottom-line {
    bottom: 0;
    right: 0;
    width: 100%; /* Full width from the start */
  }
}

.hero-content {
  position: relative;

  h1 {
    position: relative;
    opacity: 1;
    animation: none;
  }

  h3 {
    position: relative;
    opacity: 1;
    animation: none;
  }
}
