// app/assets/stylesheets/components/_recentactivity.scss //
.recent-activity {
  margin-top: 40px;

  .activity-content {
    font-size: 18px; /* Adjust this value as needed */
  }

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
  }

  .activity-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .avatar-circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      color: white;
    }

    .activity-content {
      flex-grow: 1;
    }

    .activity-header {
      margin-bottom: 5px;

      .user-name {
        font-weight: 600;
        margin-right: 5px;
      }

      .activity-action {
        color: #666;
        margin-right: 5px;
      }

      .collection-link {
        color: #FFA500;
        font-weight: 500;
        text-decoration: none;
      }
    }

    .activity-details {
      color: #666;
      font-size: 14px;
    }
  }
}

.comment-hover {
  cursor: pointer;
  color:#f0a00c;
}



.custom-tooltip-theme {
  --bs-tooltip-bg: #ffffff;       /* White background */
  --bs-tooltip-color: #333;       /* Dark text */
  --bs-tooltip-max-width: 300px;  /* Wider tooltip */
  --bs-tooltip-padding-x: 1rem;   /* More horizontal padding */
  --bs-tooltip-padding-y: 0.8rem; /* More vertical padding */
  --bs-tooltip-arrow-height: 0.5rem; /* Bigger arrow */
  opacity: 1 !important;          /* Fully opaque */
  box-shadow: 0 20px 35px rgba(0,0,0,0.1); /* Softer shadow */
  border: none;                   /* no border */
  border-radius: 12px !important; /* Rounded corners */
}

.tooltip-inner {
  border-radius: 10px !important; /* Inner content rounded corners too */
  background-color: white !important; /* Override Bootstrap's default */
  padding: 15px !important;       /* More padding */
}

.large-tooltip {
  font-size: 22px !important;
  text-align: left !important;
  white-space: normal !important;
  font-style: italic;
  line-height: 1.5 !important;
}
