<footer class="footer">
  <div class="footer-content">
    <!-- Social Media Icons -->
    <div class="social-links">
      <a href="https://www.facebook.com" target="_blank" class="social-icon facebook">
        <i class="fab fa-facebook-f" aria-hidden="true"></i>
      </a>
      <a href="https://www.instagram.com" target="_blank" class="social-icon instagram">
        <i class="fab fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="https://twitter.com" target="_blank" class="social-icon x-twitter">
        <i class="fab fa-twitter" aria-hidden="true"></i>
      </a>
    </div>
    <!-- Copyright Section -->
    <p>CasaLink &copy; 2025</p>
  </div>
</footer>
